@font-face {
  font-family: "Lota Grotesque";
  src: url(/fonts/Los-Andes-Lota-Grotesque-Regular.woff2);
  font-weight: normal;
}
@font-face {
  font-family: "Lota Grotesque";
  src: url(/fonts/Los-Andes-Lota-Grotesque-SemiBold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: "Lota Grotesque";
  src: url(/fonts/Los-Andes-Lota-Grotesque-ExLight.woff2);
  font-weight: 200;
}
@font-face {
  font-family: "Canvas Script";
  src: url(/fonts/Yellow-Design-Studio-CanvasScript-Heavy.woff2);
  font-weight: 800;
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 12vh;
  background-color: rgb(248, 247, 244, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 5px solid #686569;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
header h1 {
  font-family: "Canvas Script";
  font-size: 64px;
  padding: 0;
  margin: 0;
}
header button {
  width: 238px;
  height: 45px;
  background-color: #5c9498;
  border: 1px solid #686569;
  font-family: "Roboto", sans-serif;
  color: #f5f4f0;
  border-radius: 7px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 18px;
  transition: all 0.7s ease;
}
header button:hover {
  background-color: #f5f4f0;
  color: #5c9498;
}
.unityGame {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 94, 100, 0.35);
  position: relative;
}
/* Line */
.line {
  width: 70%;
  max-width: 1200px;
  height: 0px;
  border-bottom: 3px solid #686569;
  position: absolute;
  bottom: 0;
  left: 18.5%;
  margin-bottom: 50px;
}

/* Message */
.message {
  background-color: rgb(205, 199, 180, 0.2);
  width: 100%;
  height: 850px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.messageContainer {
  margin: 40px;
  margin-top: 0;
}
.messageContainer h1 {
  font-family: "Canvas Script";
  font-size: 48px;
}
.messageContainer p {
  font-family: "Lota Grotesque";
  font-size: 24px;
}

.heartsContainer {
  margin-left: 5%;
  margin-top: 40px;
  padding-top: 6%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.peopleContainer {
  width: 802px;
  height: 100%;
  margin: 0;
  display: flex;
}
.people {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
  justify-self: flex-end;
}

.aboutUs {
  background-color: rgb(0, 94, 100, 0.35);
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 20px;
}
.aboutUsContainer {
  background-color: rgb(245, 244, 240, 1);
  width: 1080px;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.aboutUsContainer img {
  max-height: 100px;
}
.aboutUsInfo {
  max-width: 81%;
  font-family: "Lota Grotesque";
}
.cardContainer {
  width: 1080px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 244, 240, 0.23);
  border-radius: 0 0 15px 15px;
}
.aboutUsContainer h2 {
  font-family: "Canvas Script";
  font-size: 48px;
  margin-bottom: 3px;
  margin-top: 6px;
}
.aboutUsContainer p {
  margin-top: 0;
}
.card {
  background-color: rgb(255, 246, 233);
  margin: 10px;
  border-radius: 22px;
  border: 2px solid #5c9498;
  padding: 0;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: content-box;
}
.info img {
  visibility: visible;
  border-radius: 20px 20px 0 0;
  opacity: 1;
  transition: visibility 1s linear 300ms, opacity 300ms;
  max-width: 100%;
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.card h4 {
  margin: 0;
}
.card a {
  color: black;
  font-family: "Lota Grotesque";
  text-decoration: none;
}
.card a:hover {
  text-decoration: underline;
}

.card button {
  border: none;
  margin-bottom: 20px;
  background: none;
}

.visible {
  opacity: 1;
  transition: opacity 500ms linear;
}

.invisible {
  opacity: 0;
  transition: opacity 500ms linear;
}
.info {
  position: absolute;
  z-index: 2;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: "Lota Grotesque";
  font-weight: normal;
  font-size: 16px;
}

.moreInfo {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: "Lota Grotesque";
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.information {
  margin: 3px;
}
.info h3,
.moreInfo h3 {
  font-size: 20;
  font-family: "Lota Grotesque";
  font-weight: 600;
  margin: 0px;
  margin-top: 12px;
  margin-bottom: 3px;
}
.info h4,
.moreInfo h4 {
  font-size: 18px;
  font-family: "Lota Grotesque";
  font-weight: 200;
  margin: 2px;
}

.arrowDown {
  margin-top: 8px;
}

.cross {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  margin-top: 10px;
  margin-right: 5px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-color: white;
}

footer img {
  margin-right: 35px;
  margin-left: 35px;
}

@media screen and (max-width: 1600px) {
  .cardContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .messageContainer p {
    font-family: "Lota Grotesque";
    font-size: 22px;
  }
}
@media screen and (min-width: 2000px) {
  .message {
    justify-content: center;
  }
}
